body {
  background: linear-gradient(160deg, #fefbf5, #ede2d1);
  color: #3e2f1c;
}

h1, h2 {
  color: #20793b;
}

a {
  color: #005792;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bono {
  background: #fff7cc;
  padding: 0.5rem;
  border-left: 4px solid #ffc107;
  margin-top: 1rem;
}
